{% extends 'main/layout.html' %}

{% block title %}Форма по добавлению в плейлист{% endblock %}

{% block content %}
    <div class="features">
       <div class="form"><h1>Форма</h1></div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            {{ form.audio }}<br>
            <span>{{ error }}</span>
            <div class="button-add">
                <button class="btn btn-success" type="submit" id="add_button">Добавить</button>
            </div>
        </form>
    </div>
{% endblock %}