{% extends 'main/layout.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про веб-приложение</h1>
        <div class="title"><h2>Аудиоплеер</h2></div>
        <ul id="faq">
            <li>1. Нажать на кнопку добавить в плейлист</li>
            <li>2. Заполнит форму и выбрать файл, который хотите добавить, и нажать на кнопку "Добавить"</li>
            <li>3. Перейти во вкладку "Плейлист" и наслаждаться музыкой</li>
        </ul>
    </div>
{% endblock %}